html,body,#app{
  height:100%;
  margin:0;
  padding:0;
}

/* 给后台左侧权限按钮设置样式 */
.el-submenu__title,.el-menu-item{
  font-size:13px;
}
i.iconfont{
  margin-right:10px;
}
.text {
  font-size: 14px;
}

.item {
  padding: 18px 0;
}

.box-card {
  /* width: 1380px; */
  margin-top:15px
}
#table{
  margin-top:15px
}
#page{
  margin-top:15px
}